/* #root {
  background-image: linear-gradient(
    to bottom right,
    rgba(119, 0, 255, 0.226),
    rgb(0, 163, 228)
  );
} */

#root {
  background-image: linear-gradient(
    to bottom right,
    rgba(145, 93, 25, 0.226),
    rgb(0, 163, 228)
  );
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 7.5%;
  height: 100vh;
}

.profile-card {
  margin: auto;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  height: 60vh;
  width: 12%;
}

.nav-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 5vh !important;
  width: 60%;
}

.nav-bar {
  margin-bottom: 5vh !important;
  height: 5vh;
  min-width: 100%;
}

.main-card {
  height: 60vh;
  min-width: 100%;
}

.MuiTabs-flexContainer {
  justify-content: space-between !important;
}

/* .color {
  color: rgb(55, 94, 97);
} */

.color {
  /* color: #546175; */
  color: #546175;
}
