#root {
  background-image: linear-gradient(
    to bottom right,
    rgba(145, 93, 25, 0.226),
    rgb(0, 163, 228)
  );
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 7.5%;
  height: 100vh;
}

.profile-card {
  margin: auto;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  height: 60vh;
  width: 12%;
}

.nav-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 5vh !important;
  width: 60%;
}

.nav-bar {
  margin-bottom: 3vh !important;
  height: 5vh;
  min-width: 100%;
}

.main-card {
  height: 60vh;
  min-width: 100%;
}

.MuiTabs-flexContainer {
  justify-content: space-between !important;
}

/* .color {
  color: rgb(55, 94, 97);
} */

.color {
  /* color: #546175; */
  color: white;
}

.accentColor {
  color: #36a87d;
}

.mainColor {
  color: #282828;
}

.paperColor {
  background-color: #edf5e1;
}

/* .bgBlack {
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: black;
}

.dotTop {
  position: fixed;
  top: -55vh;
  z-index: -1;
  height: 100vh;
  width: 160%;
  left: 50%;
  margin-left: -80%;
  background-image: linear-gradient(to bottom right, rgb(82, 0, 175), #2a206a);
  background-color: #0c0032;
  border-radius: 100vh/50vh;
  -webkit-animation: rescale 2s infinite;
  animation: rescale 10s infinite;
} */

/* @-webkit-keyframes rescale {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(334deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rescale {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(334deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
